.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .register-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .welcome img {
    max-width: 100%;
  }
  
  .register-form {
    flex: 1;
    padding: 20px;
  }
  
  .register-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer; /* Add cursor style */
    transition: background-color 0.3s; /* Smooth hover transition */
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
  }
  